name: Tests
on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  standard_tests:
    runs-on: ubuntu-latest
    env:
      OMPI_MCA_rmaps_base_oversubscribe: yes
      MPIRUN: mpiexec -np
    steps:
      - name: Install dependencies
        run: sudo apt update &&
             sudo apt install -y
                 gfortran
                 make
                 libfftw3-dev
                 libnetcdf-dev
                 libnetcdff-dev
                 netcdf-bin
                 python3
                 python3-pip
                 openmpi-bin
                 libopenmpi-dev

      - name: System information
        run: |
          cat /etc/*release
          gfortran --version
          nf-config --all
      - uses: actions/checkout@v2

      - name: Install integrated test dependencies
        run: pip3 install --user -r tests/integrated/requirements.txt

      - name: Build stella
        run: ./scripts/ci_build_and_run.sh
